.user {
    margin: 15px;
    overflow: hidden;
    .ant-list-item {
        padding: 2px 0 3px;
        color: #000000a6;
        border: none;
        svg {
            font-size: 18px;
        }
    }
    h3 {
        font-size: 1.65rem;
        margin: 0 0 6px;
    }
    .ant-card-cover {
        background: #f5f5f5;
    }
}
.ant-input {
    color: #000000a6;
}
.ant-modal {
    top: 100px;
}
.ant-modal .ant-modal-close:hover {
    background: transparent;
}
@media (min-width: 768px) {
    .ant-form-item {
        margin: 0 0 30px;
    }
}
@media (max-width: 575px) {
    .ant-modal {
        top: 60px;
    }
    .ant-form-item .ant-form-item-label {
        padding: 0 0 10px;
    }
}
